parameters:
    level: 8
    paths:
        - src/Support/
    excludePaths:
        - tests/*
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        - '#PHPDoc tag @return with type .+ is not subtype of native type static.+#'
        - '#PHPDoc tag @return with type .+ is incompatible with native type static.+#'
services:
    -
        class: Stan\Kirameki\Extensions\SequenceFlatsReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Stan\Kirameki\Extensions\SequenceNewInstanceReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Stan\Kirameki\Extensions\SequenceMapReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Stan\Kirameki\Extensions\SequenceKeysReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Stan\Kirameki\Extensions\SequenceValuesReturnType
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
