<phpunit bootstrap="../vendor/autoload.php"
         executionOrder="depends,defects"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
